  <div class="content" role="main">
  
  <h2>Parcelas</h2>
  <p>Digite o valor e as parcelas desejadas</p>
  
    <div class="card-container">
      <input class="card card-small" pattern="^\d*(\.\d{0,2})?$" (change)="onChange($event)" placeholder="Valor" type="number">
      <input class="card card-small input" onchange="localStorage.setItem('Parcelas', this.value);" onKeyDown="return false" min="1" max="48" placeholder="Parcelas" type="number">
    </div>
    <input type="hidden" #selection>
    <div class="card-container">
      <button class="card highlight-card" (click)="clicked()" tabindex="0">
        <span>Salvar</span>
      </button>
    </div>
    <div *ngIf="value"  class="value"> 
      R$ {{ value }}   
    </div>
  </div>
0