:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content:space-around ;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

a {
  font-size: medium;
  color: white;
  text-decoration: none;     
}

a:hover {
  transform: scale(1.5);
  color: yellow;
}
