<div class="toolbar" role="banner">
  <h1>Financiamento</h1>
</div>

<div class="content" role="main">

<h2>Parcelas</h2>
<p>Digite o valor e as parcelas desejadas</p>

  <div class="card-container">
    <input class="card card-small" onchange="localStorage.setItem('Valor', this.value);" placeholder="Valor" type="number">
    <input class="card card-small" onchange="localStorage.setItem('Parcelas', this.value);" onKeyDown="return false" min="1" max="48" placeholder="Parcelas" type="number">
  </div>
  <input type="hidden" #selection>
  <div class="card-container">
    <button class="card highlight-card" (click)="clicked()" tabindex="0">
      <span>Salvar</span>
    </button>
  </div>
  <footer> 
    {{ value }}   
  </footer>
</div>

<router-outlet></router-outlet>
